<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p> My Words to Avoid
	<ul>
		<% @user.words.each do |word| %>
		<li><%= link_to word[:spelling], show_word_url(:id => word.id) %></li>
		<% end %>
	</ul>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
