<!DOCTYPE html>
<html>
<head>
  <title>Notword</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>Unword of the Day</h1>
		<nav>
			<ul>
				<% if session[:user_id] %>
					<li><%= link_to "View Profile", user_url(session[:user_id]) %></li>
					<li><%= link_to "Sign Out", logout_url %></li>
				<% else %>
					<li><%= link_to "Sign Up", new_user_url %></li>
					<li><%= link_to "Sign In", login_url %></li>
				<% end %>
			</ul>
		</nav>
	</header>

<%= yield %>

</body>
</html>
